.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    background-color: $clr3;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 30px 40px;
  }

  .no-logged-in-user{
    display: flex;
    align-items: center;

    .demo-login{
      background-color: $clr6 ;
      border-radius: 50%;
      width: 6em;
      height: 6em;
      font-size: 1.15em;
      margin-left: 20px;
    }
  }

  @include for-mobile-layout {
    // width: 25em;
    // height: 30em;
    nav{
      width: 70%;
      margin: auto;
    }
    
  }
  // @include for-narrow-layout {
  //   nav{

  //     width: 40%;
  //   }
  // }
}