.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  // padding-top: 40px;
  gap: 30px;

  button:hover {
    color: rgb(11, 10, 9);
    background-color: rgb(222, 222, 222);
    transition: .3s;
  }

  .login-form>* {
    margin: 10px;
  }


}

.demo-login-modal {
  background-color: #ff6488a0;
  position: absolute;
  bottom: 5px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 25px;
  border-radius: 2em;
  z-index: 5;

  .modal-content {
    display: flex;
    flex-direction: column;
  }
}

.credentials-page {
  display: flex;
  margin-right: 15px;


}

@include for-mobile-layout {}

@include for-wide-layout {
  .credentials-page {
    padding: 5px;

    flex-direction: column;
  }

  .btns {
    position: relative;
    bottom: 11px;
    left: 50px;
  }
}

@include for-extra-wide-layout {
  .credentials-page {
    padding: 10px;

    flex-direction: row;
  }

  .btns {
    position: static;
    align-self: center;
  }
}