.login {
  button:hover {
    color: rgb(11, 10, 9);
    background-color: rgb(222, 222, 222);
    transition: .3s;
  }
}



@include for-mobile-layout {
  .credentials-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 5px;

    >* {
      height: min-content;
    }

    button {
      align-self: center;
      font-size: 0.875em;
    }
  }


  .demo-login-modal {
    background-color: #f86a8bed;
    position: fixed;
    top: 22%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 15px;
    border-radius: 10%;

    .modal-content {
      display: flex;
      flex-direction: column;

      button:hover {
        color: rgb(23, 18, 22);
        background-color: rgb(226, 225, 225);
      }

      .login-btns {
        display: flex;

        >* {
          width: 6.25em;
          height: 4em;
        }
      }
    }
  }
}

@include for-narrow-layout {       //640-900
  .credentials-page {
    display: flex;
    flex-direction: column;
  }

  .login-form {
    display: flex;
    gap: 5px;
    align-items: center;

    >* {
      height: min-content;
    }
  }

  .demo-login-modal {
    background-color: #f86a8bed;
    position: fixed;
    top: 13%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 15px;
    border-radius: 10%;

    .modal-content {
      display: flex;
      flex-direction: column;

      button:hover {
        color: rgb(23, 18, 22);
        background-color: rgb(226, 225, 225);
      }

      .login-btns {
        display: flex;

        >* {
          width: 6.25em;
          height: 4em;
        }
      }
    }
  }
}

@include for-normal-layout {    //900-1200
  .credentials-page {
    display: inline-block;
  }
  .demo-login-modal {
    top: 14%;
  }
  .login {
    width: auto;
  }

  .btns {
    font-size: 0.9em;
    text-align: end;
    padding-right: 10px;
  }

}

@include for-wide-layout {

  .login {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 30px;
  }

  .credentials-page {
    display: flex;
    margin-right: 15px;
    padding: 5px;
    flex-direction: column;
  }

  .btns {
    position: relative;
    bottom: 5px;
    left: 70px;
    font-size: 1em;
    text-align: start;
    padding-right: 0;
  }

  .demo-login-modal {
    top: 12%;
  }
}

@include for-extra-wide-layout {
  .credentials-page {
    // padding: 10px;

    // flex-direction: row;
  }

  .btns {
    // position: static;
    // align-self: center;
  }
}