.index-container {
    padding: 20px 0;

    .toy-list {
        margin: 20px;
        padding: 10px 0;
        list-style: none;
        display: grid;
        gap: 30px;
        align-items: center;
        list-style-position: inside;

        @include for-mobile-layout {
                grid-template-columns: 1fr;
                gap: 20px;
        }

        @include for-narrow-layout {
                grid-template-columns: repeat(2, 1fr);
        }

        @include for-normal-layout {
                grid-template-columns: repeat(3, 1fr);
        }

        @include for-wide-layout {
                grid-template-columns: repeat(4, 1fr);
        }
    }
}