.toys-filter-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 1.15em;

    button.add-toy-btn {
        background-color: $clr6 ;
        border-radius: 50%;
        width: 4em;
        height: 4em;
        font-size: 1rem;
        text-align: center;
    }


    .toy-filter {
        display: flex;
      

    form {
            display: flex;
            // justify-content: space-around;
            gap: 15px;
            // align-items: center;


            input {
                // height: 60%;
            }
        }
    }

    .toy-sort{
        display: flex;
        gap: 10px;
        .sort-type{
        }
    }


    @include for-mobile-layout {
        @media (max-width: $break-mobile) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .toy-filter {
                flex-direction: column;
                align-items: center;
                width: 100%;

                form {
                    flex-direction: column;
                    width: 100%;
                }

                input{
                    width: 60%;
                }
            }
        }
    }

    @include for-narrow-layout {
        @media (min-width: $break-narrow) {

            // display: flex;
            // justify-content: space-between;

            button.add-toy-btn {
                align-self: flex-end;
            }

            .toy-filter{
                // width: 70%;
                // justify-content: space-around;

            }


        }
    }

    @include for-normal-layout {
        @media (min-width: $break-normal) {}
    }

    @include for-wide-layout {
        @media (min-width: $break-wide) {}
    }



}