.toys-filter-container {
    // display:flex;
    // justify-content: space-between;
    // align-items: center;
    // padding: 15px;
    // font-size: 1.15em;

    button.add-toy-btn {
        background-color: $clr6 ;
        border-radius: 50%;
        width: 4em;
        height: 4em;
        font-size: 1rem;
        text-align: center;
    }


    // .toy-filter {
    //     display: flex;


    // form {
    //         display: flex;
    //         // justify-content: space-around;
    //         gap: 15px;
    //         // align-items: center;


    //         input {
    //             // height: 60%;
    //         }
    //     }
    // }

    // .toy-sort{
    //     display: flex;
    //     gap: 10px;
    //     .sort-type{
    //     }
    // }


    @include for-mobile-layout {
        font-size: 1.1em;

        .toy-filter {
            display: flex;
            justify-content: center;

            form {
                display: flex;
                flex-direction: column;
                gap: 2px;

                input,
                select {
                    margin-bottom: 10px;
                }
            }
        }

        .toy-sort {
            display: flex;
            gap: 10px;
            justify-content: center;
            margin: 10px 0;

        }
    }

    @include for-narrow-layout {

        button.add-toy-btn {
            align-self: flex-end;
        }

        .toy-filter {

            form {
                display: grid;
                grid-template-rows: auto 10px auto;

                :nth-child(1),
                :nth-child(2),
                :nth-child(3),
                :nth-child(4) {
                    grid-row: 1;
                }

                :nth-child(5),
                :nth-child(6),
                :nth-child(7),
                :nth-child(8) {
                    grid-row: 3;
                }

                :nth-child(3),
                :nth-child(7) {
                    margin-left: 10px;
                }
            }

        }

        .toy-sort {
            display: flex;
            gap: 10px;
            margin: 20px 0;
            justify-content: end;

        }

    }


    @include for-extra-wide-layout{
        display: flex;
        justify-content: space-between;
        .toy-filter,
        .toy-filter form {
                display: flex;
                align-items: center;
                gap: 10px;
        }
    }



}