.toy-details-container {
    display: flex;
    // flex-direction: column;
    // align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    gap: 20px;

    .details-img {
        width: 60vh;
        height: 60vh;

        img {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            border-radius: 15px;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .toy-details {
        display: flex;
        flex-direction: column;
        width: 50%;

        .toy-description {
            font-size: 1.18em;
        }

        .toy-title {
            margin: 15px 0;
            font-size: 1.6em;
        }

        .toy-price {
            margin: 20px 0;

            span {
                font-size: 1.15em;
            }
        }

        .toy-inventory{
            margin-top: 20px;
            font-size: 1.2em;
        }

        .toy-labels{
            margin-top: 15px;
        }

        button {
            background-color: #f0416a;
            width: 20%;
            margin: 5px;
            font-size: 1.15em;
            border-radius: 2em
        }
    }

    .customer-details-options{
     
    }


}