.toy-details-container {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
    gap: 20px;

    .details-img {


        img {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            border-radius: 15px;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .toy-details {
        display: flex;
        flex-direction: column;
        width: 50%;

        .toy-description {
            font-size: 1.18em;
        }

        .toy-title {
            margin-bottom: 10px;
            font-size: 1.6em;
        }

        .toy-price {
            margin: 20px 0;

            span {
                font-size: 1.15em;
            }
        }

        .toy-inventory{
            margin-top: 20px;
            font-size: 1.2em;
        }

        .toy-labels{
            margin-top: 15px;
        }

        button {
            background-color: #f0416a;
            // width: 20%;
            margin: 5px;
            font-size: 1.15em;
            border-radius: 2em
        }

        .back-btn-details{
            width: min-content;
        }
    }

    .customer-details-options{
     
    }

    @include for-mobile-layout{
        // background-color: yellow;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

     
        .toy-details,
        .details-img{
            width: 100%;
        }
            .details-img{
                height: 40vh;
                float: right;
                shape-outside: circle(40%);
                margin: 0;
                margin-right: 0px;
                grid-row: 1;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
    }

    @include for-narrow-layout{
        .details-img {

            height: 60vh;
        }

    }

}