button {
    cursor: pointer;
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 4px;   
    font-family: Bahnschrift;
    font-size: 1em;
    transition: .3s;

}

button:hover {
    color: rgb(248, 243, 243);
    transition: .3s;
}
input:focus {
    background-color: var(--clr1bg);
    transition: background-color 1s;
}